{% extends 'index.html' %}
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Congratulation!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
{% endblock %}

{% block content %}
    <h1> You were invited to join us at {{current_site}}</h1>
    <div>
        To register follow this link: {{ invitation_url }}
    </div>
{% endblock %}
